MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/ai_interview_system?retryWrites=true&w=majority
CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_key
CLERK_SECRET_KEY=sk_test_your_clerk_key
